
#message {
  position: absolute;
  font-size: xx-large;
  width: 100%;
  text-align: center;
  color: white;
}

.audio {
  display: none;
}

#options {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0px;
  text-align: center;
}

#options button {
  background-color: rgba( 255, 255, 255, 0.8);
  font-size: xx-large;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
}

body {
  outline: none;
}
